includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    scanDirectories:
        - vendor/wpackagist-plugin/query-monitor/classes/
        - vendor/wpackagist-plugin/query-monitor/output/
    paths:
        - query-monitor-twig-profile.php
        - src/
